<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programacion Visual</title>
</head>
<body>
    <header>
        <h1>Programacion Visual - Sede San Salvador de Jujuy. </h1>
        <nav>
            <ul>
                <li><a href="https://www.fi.unju.edu.ar">Fi-Unju</a></li>
                <li><a href="#seccion1">Acerca de la materia</a></li>
                <li><a href="#seccion2">Profesores a Cargo</a></li>
                <li><a href="#seccion3">Programa de la materia</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="seccion1">
            <h2>Acerca de la materia</h2>
            <p>Es una asignatura</p> 
            <p>del segundo año del plan de estudios de la</p> 
            <p>Facultad de Ingenieria de la Universidad Nacional de Jujuy.</p>
            <p>Tiene una carga horaria total de 90 horas y se imparte en modalidad virtual.</p>
        </section>

        <section id="seccion2">
            <h2>Profesores a Cargo</h2>
                <h3>Responsable de Cátedra:</h3> 
                <P>Mg. Ing. Ariel Alejandro Vega
            </p>
                <h3>Equipo de Cátedra:</h3>
                <p> Prof Adj Ded. Simple Mg. Ing. Gustavo Sosa
                , JTP Ded. Simple: Ing. Carolina Apaza
                , Ayu. Primera Ded. Simple Juan Rodriguez
            </p>
        </section>

        <section id="seccion3">
            <h2>Programa de la materia</h2>
            <ol>
                <li><h3>UNIDAD I: Lenguaje Java</h3>
                    <ul>
                        <li>Tipos de datos primitivos y complejos</li>
                        <li>Estructuras de datos</li>
                        <li>Operadores</li>
                        <li>Uso de Strings, Arreglos y Colecciones</li>
                        <li>Conceptos generales de la Programación Orientada a Objetos</li>
                        <li>Clases y objetos: Definición y Ejemplos</li>
                    </ul>
                </li>
                <li><h3>UNIDAD II: Introducción a Spring Boot</h3>
                    <ul>
                        <li>Arquitectura de aplicaciones Web</li>
                        <li>Herramientas necesarias</li>
                        <li>¿Qué es un Framework?</li>
                        <li>Evolución de Spring</li>
                        <li>Módulos disponibles</li>
                        <li>Arquitectura de una aplicación con Spring</li>
                        <li>Creación de proyectos con Spring Boot en un IDE</li>
                        <li>Concepto de Controladores</li>
                        <li>Gestión de peticiones con RequestMapping</li>
                        <li>Introducción a HTML</li>
                        <li>Estructura de un documento HTML</li>
                        <li>Introducción a CSS</li>
                        <li>Creación de un sitio Web HTML</li>
                    </ul>
                </li>
                <li><h3>UNIDAD III: Gestión de Dependencias y Versionamiento</h3>
                    <ul>
                        <li>Gestión de Proyectos mediante un sistema de control de versionamiento</li>
                        <li>Git: tareas de versionamiento con Git</li>
                        <li>Integración de Git con un IDE</li>
                        <li>Maven: descripción y utilidad</li>
                        <li>Descripción de la estructura de un proyecto Maven</li>
                        <li>Gestión de dependencias, repositorio Maven</li>
                        <li>Uso de arquetipos Maven</li>
                        <li>Spring boot y Maven</li>
                    </ul>
                </li>
                <li><h3>UNIDAD IV: Spring Boot MVC</h3>
                    <ul>
                        <li>Thymeleaf como motor de templates</li>
                        <li>Creación de un proyecto MVC con Spring Boot y thymeleaf</li>
                        <li>Configuración de propiedades mediante el fichero properties o yml</li>
                        <li>Introducción a Bootstrap: concepto e implementación de componentes</li>
                        <li>Navbar, Grillas con Bootstrap, Cards, Buttons, Breadscrumb</li>
                    </ul>
                </li>
                <li><h3>UNIDAD V: Clases de negocio</h3>
                    <ul>
                        <li>Creación de clases de negocio</li>
                        <li>Clases de Servicio</li>
                        <li>Concepto de Inyección de dependencias</li>
                        <li>Vinculación entre clases de negocio con Servicios</li>
                        <li>Agregar objetos al modelo (Model)</li>
                        <li>Renderizado de la UI con Thymeleaf</li>
                    </ul>
                </li>
                <li><h3>UNIDAD VI: Persistencia de Objetos</h3>
                    <ul>
                        <li>Conceptos básicos de persistencia de objetos</li>
                        <li>Introducción a JPA</li>
                        <li>Conexión a un Motor de Base de Datos</li>
                        <li>Configuración de JPA con Spring Boot</li>
                        <li>CrudRepository, JpaRepository, Query Methods, Relaciones</li>
                        <li>Sistema de trazas: configuración con Spring Boot</li>
                    </ul>
                </li>
                <li><h3>UNIDAD VII: Manejo de formularios</h3>
                    <ul>
                        <li>Gestión de eventos</li>
                        <li>Búsquedas</li>
                        <li>CRUD de clases de negocio</li>
                        <li>Operaciones de negocio</li>
                        <li>Uso de @Query para consultas personalizadas</li>
                        <li>Integración con componentes Bootstrap y thymeleaf</li>
                        <li>Integración de conceptos en una aplicación robusta</li>
                    </ul>
                </li>
            </ol>
        </section>
    </main>
    
    <aside>
         <h2> Adicionales </h2>         
         <img alt="Imagen" src=" ../static/image/logopv.png">  
    </aside>
    
    <footer>
    <h2> Alumno: </h2>
         <p>Tarifa, Mauro Agustín</p>
         <h3> Contactos: </h3>
         <h3>Correo electronico:</h3>
         <ul>
             <li>Dastan@gmail.com</li>
             <li>Dastan_12@hotmail.com</li>
             <li>40440760@fi.unju.edu.ar</li>
         </ul>
         <h3>Instagram:</h3>
         <p><a href="https://www.instagram.com/maurobasspl?igsh=MWhvanpkbTB2aTBpdg==">Instagram</a></p>
    </footer>
</body>
</html>