<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Programacion Visual</title>
</head>
<body>
    
    <header>
        <h1>Informacion de la pagina</h1>
        
        <nav>
            <ul>
                <li><a href="#seccion1">Inicio </a></li>
                <li><a href="#seccion2">Profesores </a></li>
                <li><a href="#seccion3">Acerca de la Materia </a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        <section id="seccion1">
            <h2>Inicio </h2>
            <p></p>
        </section>

        <section id="seccion2">
            <h2>Sección 2</h2>
            <p>Profesores
            Teoria: Vega Ariel.
            Practicas: Apaza Carolina
                       Juan Carlos Rodriguez
                       Gustavo Sosa</p>
        </section>

        <section id="seccion3">
            <h2>Acerca de la Materia</h2>
            <p></p>
        </section>
    </main>

</html>
